/* .student {
  margin: 12px;
}
.container {
  max-width: 1500px;
}
th {
  text-align: center;
  vertical-align: middle;
} */
.global-links {
  width: 60%;
  float: left;
  margin: 0;
}
body{
  background: #333;
}
header {
  padding: 50;
}